body {
    justify-items: center;
    margin-top: 150px;
 }

.container {
    padding-top: 40px;
    display: flex;
    height: 300px;
    width: 600px;
    background-color: #182042;
    justify-content: space-around;
    color: white;
    border: solid pink 7px;
}

.score-box-home {
    text-align: center;
}
.score-box-guest {
    text-align: center;
}

.number-box-home {
    height: 80px;
    width: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    padding-top: 16px;
}
.number-box-guest {
    height: 80px;
    width: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    padding-top: 16px;
}

.add-btn {
    display: flex;
    margin-top: 10px;
    background-color: #182042;
    gap: 5px;
}

#guestO {
    background-color: #182042;
    color: white;
    border: white solid 2px;
    height: 30px;
    width: 30px;
    font-weight: bold;

}

#guestT {
    background-color: #182042;
    color: white;
    border: white solid 2px;
    height: 30px;
    width: 30px;
    font-weight: bold;

}

#guestTh {
    background-color: #182042;
    color: white;
    border: white solid 2px;
    height: 30px;
    width: 30px;
    font-weight: bold;
}

#homeT {
    background-color: #182042;
    color: white;
    border: white solid 2px;
    height: 30px;
    width: 30px;
    font-weight: bold;
}

#homeTh {
    background-color: #182042;
    color: white;
    border: white solid 2px;
    height: 30px;
    width: 30px;
    font-weight: bold;
}

#homeO {
    background-color: #182042;
    color: white;
    border: white solid 2px;
    height: 30px;
    width: 30px;
    font-weight: bold;

}